Makefile
config.h
config.log
config.status
doc/Makefile
intl/Makefile
lib/.deps/
lib/Makefile
lib/getopt.h
man/Makefile
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/Makefile
src/lvl/.deps/
src/media/.deps/
src/media/allegro/.deps/
src/media/dummy/.deps/
src/media/ggi/.deps/
src/media/gii/.deps/
src/media/mikmod/.deps/
src/media/sdl/.deps/
src/media/sdl_mixer/.deps/
src/sys/allegro/.deps/
src/sys/std/.deps/
stamp-h1
tests/.deps/
tests/Makefile
src/lvl/.dirstamp
src/media/.dirstamp
src/media/sdl/.dirstamp
src/media/sdl/keysdef.c
src/media/sdl_mixer/.dirstamp
src/sys/.dirstamp
src/sys/std/.dirstamp
intl/charset.alias
intl/libintl.h
intl/ref-add.sed
intl/ref-del.sed
src/media/dummy/.dirstamp
*.o
*.a
heroes
heroeslvl
